<!DOCTYPE html>
<html>
    <head>
      <style>
        p {
          color:#ffffff;
        }
        p.card-text {
          color:#000000;
        }
        </style>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Bootstrap core CSS -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


      <!-- Custom fonts for this template -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@f6ee7aed6ca2933dfab980a8150aa06510cd28e7/css/grayscaleedit.css">

      <title>About Us</title>

    </head>

    <body>

      <body id="page-top">

      <nav class="navbar navbar-expand-lg navbar-fixed-top bg-black navbar-dark" id="mainNav">
        <div class="container">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
              </li>
              <li class = "nav-item">
                <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
              </li>
              <li class = "nav-item">
                <a class = "nav-link js-scroll-trigger" href="{{url_for('atlas')}}">Atlas</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

</br><br><br>

        <h1>About Us</h1>


          <div class="card-group" style = "color:#000000">

              <div class="card" style="width: 18rem;">

                <img src="{{url_for('static', filename='images/igempic.jpg')}}" class="card-img-top">

                <div class="card-body">

                  <h5 class="card-title">Zachary Martinez</h5>
                  <p class="card-text">Zach is a Biology Major completing the Elements of Computing Certificate to have a career in Bioinformatics. He enjoys playing sports, watching horror movies, listening to Rap and Metal, and cooking.</p>
                  <p class = "card-text">Responsibilities: Bootstrap, Pagination, Technical Report</p>
                  <p class="card-text">Commits: 38</p>
                  <p class = "card-text">Issues: 18</p>
                  <p class = "card-text">Unit Test: 0</p>


                </div>

              </div>


              <div class="card" style="width: 18rem;">

                <img src="{{url_for('static', filename='images/Rohan_Jaisimha.jpg')}}" class="card-img-top">

                <div class="card-body">

                  <h5 class="card-title">Rohan Jaisimha</h5>
                  <p class="card-text">Rohan is a Mathematics Major completing the Elements of Computing Certificate to make a career working with software. In his free time, he listens to music and watches soccer.</p>
                  <p class = "card-text">Responsibilities: HTML pages, Flask, JavaScript, Unit Tests</p>
                  <p class="card-text">Commits: 24</p>
                  <p class = "card-text">Issues: 49</p>
                  <p class = "card-text">Unit Test: 28</p>


                </div>

              </div>

              <div class="card" style="width: 18rem;">

                <img src="{{url_for('static', filename='images/TerrenceLiu.jpg')}}" class="card-img-top">

                <div class="card-body">

                  <h5 class="card-title">Terrence Liu</h5>
                  <p class="card-text">Terrence is a Mathematics Major taking Software Engineering to earn the Elements of Computing Certificate. When he's not in class, he's probably cooking or playing video games.</p>
                  <p class = "card-text">Responsibilities: Technical Report</p>
                  <p class="card-text">Commits: 1</p>
                  <p class = "card-text">Issues: 6</p>
                  <p class = "card-text">Unit Test: 0</p>


                </div>

              </div>

              <div class="card" style="width: 18rem;">

                <img src="{{url_for('static', filename='images/AnnieTsai.jpg')}}" class="card-img-top">

                <div class="card-body">

                  <h5 class="card-title">Annie Tsai</h5>
                  <p class="card-text">Annie is a Mechanical Engineering Major getting both Business and Elements of Computing Certificates. She is the team leader and enjoys singing, gaming, and reading.</p>
                  <p class = "card-text">Responsibilities: Team Leader, Bootstrap, Flask, Continuity, Databasing, Technical Report, GCP Deployment</p>
                  <p class="card-text">Commits: 117</p>
                  <p class = "card-text">Issues: 67</p>
                  <p class = "card-text">Unit Test: 0</p>


                </div>

              </div>

              <div class="card" style="width: 18rem;">

                <img src="{{url_for('static', filename='images/eleanoryoung.jpg')}}" class="card-img-top">

                <div class="card-body">

                  <h5 class="card-title">Eleanor Young</h5>
                  <p class="card-text">Eleanor is a Biology Major taking Software Engineering to gain skills applicable to her research. If she's not in lab, she's probably rock climbing or painting.</p>
                  <p class = "card-text">Responsibilities: HTML pages, CSS, Citations</p>
                  <p class="card-text">Commits: 12</p>
                  <p class = "card-text">Issues: 16</p>
                  <p class = "card-text">Unit Test: 0</p>


                </div>

              </div>

          </div>

          <div class = "container">
            <div class = "row">
              <div class = "col-md">
            <br>
        <h2 style = "color:#ffffff">Statistics</h2>
        <p>
            Total Number of Commits: 218<br><br>
            Total Number of Issues: 154<br><br>
            Total Number of Unit Tests: 28<br><br>
            <a href="https://gitlab.com/asian_wasabi/cs329e-idb/issues">GitLab Issue Tracker</a><br><br>
			<a href="https://gitlab.com/asian_wasabi/cs329e-idb/">GitLab Repository</a><br><br>
            <a href="https://gitlab.com/asian_wasabi/cs329e-idb/wikis/home">GitLab Wiki</a><br><br>
        </p>
      </div>
      <div class = "col-md">
        <br>
        <h2 style = "color: #ffffff">Data</h2>
		<p><a href="https://www.wikipedia.org">Wikipedia</a>: Scraped manually</p><br><br>
		<p><a href="https://www.azlyrics.com">AZLyrics</a>: Scraped through HTML using a Python script and the Beautiful Soup and Requests libraries</p><br><br>
		<p><a href="https://www.youtube.com">YouTube</a>: Scraped manually</p><br><br>
    </div>
    <div class = "col-md">
      <br>
            <h3 style = "color:#ffffff">Tools Used</h3>
            <ul>
              <li>Bootstrap</li>
              <li>Flask</li>
              <li>HTML</li>
              <li>JavaScript</li>
			  <li>Leaflet</li>
			  <li>BeautifulSoup</li>
	          <li>Requests</li>
			  <li>PostgreSQL</li>
			  <li>SQLAlchemy</li>
			  <li>Jinga</li>
			  <li>openpyxl</li>
              <li>Git</li>
              <li>GCP</li>
            </ul>
          </div>
            <br>
  </div>
		<p>
			<h3 style = "color:#ffffff">Unit Test Results: </h3><br><img src="{{url_for('static', filename='images/unit_tests_output.png')}}" style="width:890px;height:500px;">
		</p>
</div>















        <!-- Bootstrap core JavaScript -->

        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>


        <!-- Plugin JavaScript -->
        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

        <!-- Custom scripts for this template -->
        <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>
    </body>
</html>
