<html>

<head>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@f6ee7aed6ca2933dfab980a8150aa06510cd28e7/css/grayscaleedit.css">

  <title>Atlas of Bands' Place of Origin</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <style type="text/css">
    html, body {padding:0;margin:0;}
    #map { width:1020px;height:725px;padding:0;margin:0; }
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg  navbar-fixed-top bg-black navbar-dark" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('atlas')}}">Atlas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <center>
    <br><br><br>
    <div id="map">
    </div>
    <br><br><br>
  </center>


  <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>


  <!-- Plugin JavaScript -->
  <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

  <script>
    var options={center: [15,0],
                 zoom: 2,
                 maxBounds:new L.LatLngBounds(new L.LatLng(-60,-180),new L.LatLng(90,180))};

    var map = L.map('map', options);

    L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {noWrap:true, attribution: "<a href=\"{{url_for('index')}}\">IMDB</a>"}).addTo(map);
    async function getCoords(place)
    {
      var url = "https://nominatim.openstreetmap.org/search?format=json&limit=3&q=" + place;
      var response = await fetch(url);
      response = (await response.json())[0];
      return ([response.lat,response.lon]);
    }

    async function main()
    {
      places = {{Places|safe}};
      for(var i = 0; i < places.length; i += 1)
      {
        if(places[i]=="Cincinatti, OH")
          places[i]="Cincinnati, OH";  //someone misspelled it
        console.log(places[i]);
        coords = await getCoords(places[i]);
        console.log(coords);
        var myMarker = L.marker(coords, {title: "Coordinates", alt: "Coordinates", draggable: false}).addTo(map).on('dragend', function()
        {
          var lat = myMarker.getLatLng().lat.toFixed(8);
          var lon = myMarker.getLatLng().lng.toFixed(8);
          document.getElementById('lat').value = lat;
          document.getElementById('lon').value = lon;
          myMarker.bindPopup("Lat " + lat + "<br />Lon " + lon).openPopup();
        });
      }
    }
    main()
  </script>

</body>

</html>
