<html>
<head>
  <style>
  p { text-align: center }
  </style>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap core CSS reference -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">


      <!-- Custom fonts reference for this template -->
      <link href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/vendor/fontawesome-free/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles reference for this template -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@f6ee7aed6ca2933dfab980a8150aa06510cd28e7/css/grayscaleedit.css">

    <title>{{band_object.band_name}}</title>
    <link rel="stylesheet" type="text/css" href="scrollbox.css">
</head>
<body>
  <body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-fixed-top bg-black navbar-dark" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('songs')}}">Songs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{url_for('albums')}}">Albums</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('bands')}}">Bands</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link js-scroll-trigger" href="{{url_for('atlas')}}">Atlas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
    .default {cursor: default;}
    .small {font-size:small;}
  </style>
<br><br><br>
  <center><h1>{{band_object.band_name}}</h1></center>
  <br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <ul style="padding-left: 100px">
            <ul>
                <li>Place of Origin: {{band_object.place_of_origin}}</li>
                <li>Year started: {{band_object.year_started}}</li>
                <li>Genre: {{band_object.genre}}</li>
                <li><a href ={{band_object.website}}>Website</a></li>
                <li>Albums   <a id="arrow1" class="default small" onclick=showListOfAlbums()>⯇</a></li>
                <div id="listOfAlbums" style="display:none">
                	<ul>
                        {%for i in band_object.albums%}
                          <li><a href="{{url_for('specific_album',album_name=i)}}">{{i}}</a></li>
                        {%endfor%}
                </div>
                <li>Notable Songs  <a id="arrow2" class="default small" onclick=showListOfNotableSongs()>⯇</a></li>
                <div id="listOfNotableSongs" style="display:none">
                    <ul>
                        {%for i in band_object.notable_songs%}
                          <li><a href="{{url_for('specific_song',song_name=i)}}">{{i}}</a></li>
                        {%endfor%}
                    </ul>
                </div>
                <li>Members <a id="arrow3" class="default small" onclick=showListOfMembers()>⯇</a></li>
                <div id="listOfMembers" style="display:none">
                    <ul>
                        {%for i in band_object.members%}
                          <li>{{i}}</li>
                        {%endfor%}
                    </ul>
                  </div>
            </ul>
          </ul>
      </div>
      <div class="col-lg">
        <center><img src={{band_object.image}} style = "width:560px; height:315px;"></center>
      </div>
    </div>
  </div>



  <script>
  	function showListOfAlbums()
  	{
          var x=document.getElementById("listOfAlbums");
          var y=document.getElementById("arrow1")
          if(x.style.display=="none")
          {
          	x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
          	x.style.display="none";
            y.innerHTML="⯇";
          }
  	}
    function showListOfNotableSongs()
    {
          var x=document.getElementById("listOfNotableSongs");
          var y=document.getElementById("arrow2")
          if(x.style.display=="none")
          {
            x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
            x.style.display="none";
            y.innerHTML="⯇";
          }
    }
    function showListOfMembers()
    {
          var x=document.getElementById("listOfMembers");
          var y=document.getElementById("arrow3")
          if(x.style.display=="none")
          {
            x.style.display="block";
            y.innerHTML="⯆";
          }
          else
          {
            x.style.display="none";
            y.innerHTML="⯇";
          }
    }
  </script>
    <!-- Bootstrap core JavaScript -->

    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@24d5da5feea4f2d89d9d482aa20afc634d1dadc6/vendor/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@96bd95723b8329edff182e1daf4f59bdc131df38/vendor/bootstrap/js/bootstrap.bundle.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@79bdd8250f7e647745b27945aa895a8cb739deff/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdn.jsdelivr.net/gh/annieTsai14/startbootstrap-grayscale@d035da200c4628e35bbe9c48a88b8b07bb5d14c0/js/grayscale.js"></script>

  </body>
</html>
